<!--List of Blog-->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>List of Blog Posts</h1>
        </div>
        <div class="col-md-4 text-right">
            <a href="/blog/new" class="btn btn-primary">Create New Blog</a>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        {{#each blog}}
        <tr>
            <td><img src="{{image}}" width="70" height="70"></td>
            <td class="text-light">{{title}}</td>
            <td>{{description}}</td>
            <td>
                <a class="text-light" href="/blog/{{_id}}">Details</a>
                <a class="text-light" href="/blog/{{_id}}/delete">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>