<!-- Contact Page -->
<main role="main ">
    <div class="album py-3 contactcolor">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb color">
                    <li class="breadcrumb-item bc-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item bc-item"><a class="text-white" href="/contact">Contact</a></li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-3 project-detail-sb">
                    <div class="project-sidebar-block">
                        <h2>Social Profiles</h2>
                        <ul class="social">
                            <li>
                                <a class="link" href="https://www.linkedin.com/in/harshitha-r-kumar-88475315b" title="LinkedIn">
                                    <i class="fab fa-linkedin fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="https://github.com/Harshitha7257" title="Github">
                                    <i class="fab fa-github-square fa-2x pl-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="https://twitter.com/@manoharsn" title="Twitter">
                                    <i class="fab fa-twitter-square fa-2x pl-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="https://m.facebook.com/?_rdr" title="Facebook">
                                    <i class="fab fa-facebook fa-2x pl-2"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="project-sidebar-block">
                        <h2>About This Project</h2>
                        <ul class="social">
                            <li>
                                <a  class="link" href="#" title="Node.js">
                                    <i class="fab fa-node-js fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="#" title="JavaScript">
                                    <i class="fab fa-js-square fa-2x pl-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="#" title="HTML5">
                                    <i class="fab fa-html5 fa-2x pl-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="#" title="CSS3">
                                    <i class="fab fa-css3 fa-2x pl-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="#" title="Linux">
                                    <i class="fab fa-linux fa-2x pl-2"></i>
                                </a>
                            </li>
                        </ul>
                                                <h4>Cell No:</h4>
                                                <p> 91+7353700921, 91+9353054129</p>
                                                <h4>Email ID:</h4>
                                                <p>harshithakumar24@gmail.com</p>
                    </div>

                </div>
                 
                <div class="col-md-9 animated fadeInUp">
                    <form action="/contact" method="POST">
                        <div class="mb-4">
                            <h1 class="h3 mb-3 font-weight-normal">Contact Me</h1>
                        </div>
                        <hr>
                        <br>
                         {{#if errors}}
                         {{#each messages}}
                           <div class="alert alert-danger" role="alert">
                              {{this}}
                            </div>
                            {{/each}}
                         {{/if}}

                         {{#if success}}
                           <div class="alert alert-success" role="alert">
                              Thank you for contacting us. We will get back at the earliest
                            </div>
                         {{/if}}

                        <div class="form-label-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" autofocus
                                required value="{{name}}">
                        </div>

                        <div class="form-label-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email address"
                               value="{{email}}">
                        </div>

                        <div class="form-label-group">
                            <label for="mobile">Mobile</label>
                            <input type="number" name="mobile" id="mobile" class="form-control" placeholder="Mobile"
                               value="{{mobile}}">
                        </div>

                        <div class="form-label-group">
                            <br>
                            <textarea name="description" id="description" rows="5" class="form-control"
                                placeholder="Description">{{description}}</textarea>
                        </div>

                        <div class="form-label-group">
                            <br>
                            <button class="btn btn-lg btn-block" type="submit"> Submit</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    </div>
</main>

